html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
sup {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
  display: inline-block;
}
body {
  line-height: 1;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.visible-sm,
.visible-md,
.visible-lg {
  display: none;
}
.hidden-sm,
.hidden-md,
.hidden-lg {
  display: block;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
@media (max-width: 992px) {
  .visible-sm,
  .visible-md,
  .visible {
    display: none;
  }
  .visible-lg {
    display: block;
  }
  .hidden-sm,
  .hidden-md,
  .hidden {
    display: block;
  }
  .hidden-lg {
    display: none;
  }
}
@media (max-width: 768px) {
  .visible-sm,
  .visible-lg,
  .visible {
    display: none;
  }
  .visible-md {
    display: block;
  }
  .hidden-sm,
  .hidden-lg,
  .hidden {
    display: block;
  }
  .hidden-md {
    display: none;
  }
}
@media (max-width: 480px) {
  .visible-md,
  .visible-lg,
  .visible {
    display: none;
  }
  .visible-sm {
    display: block;
  }
  .hidden-md,
  .hidden-lg,
  .hidden {
    display: block;
  }
  .hidden-sm {
    display: none;
  }
}
.cols {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  padding-right: 7.5px;
  padding-left: 7.5px;
  position: relative;
  margin-bottom: 0;
}
.row {
  zoom: 1;
  margin-left: -7.5px;
  margin-right: -7.5px;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.centered {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}
[class^="col-"],
[class*=" col-"] {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  padding-right: 7.5px;
  padding-left: 7.5px;
  position: relative;
  margin-bottom: 0;
}
.col-12 {
  width: 100%;
}
.offset-12 {
  margin-left: 100%;
}
.push-12 {
  left: 100%;
}
.pull-12 {
  right: 100%;
}
.col-11 {
  width: 91.666666666667%;
}
.offset-11 {
  margin-left: 91.666666666667%;
}
.push-11 {
  left: 91.666666666667%;
}
.pull-11 {
  right: 91.666666666667%;
}
.col-10 {
  width: 83.333333333333%;
}
.offset-10 {
  margin-left: 83.333333333333%;
}
.push-10 {
  left: 83.333333333333%;
}
.pull-10 {
  right: 83.333333333333%;
}
.col-9 {
  width: 75%;
}
.offset-9 {
  margin-left: 75%;
}
.push-9 {
  left: 75%;
}
.pull-9 {
  right: 75%;
}
.col-8 {
  width: 66.666666666667%;
}
.offset-8 {
  margin-left: 66.666666666667%;
}
.push-8 {
  left: 66.666666666667%;
}
.pull-8 {
  right: 66.666666666667%;
}
.col-7 {
  width: 58.333333333333%;
}
.offset-7 {
  margin-left: 58.333333333333%;
}
.push-7 {
  left: 58.333333333333%;
}
.pull-7 {
  right: 58.333333333333%;
}
.col-6 {
  width: 50%;
}
.offset-6 {
  margin-left: 50%;
}
.push-6 {
  left: 50%;
}
.pull-6 {
  right: 50%;
}
.col-5 {
  width: 41.666666666667%;
}
.offset-5 {
  margin-left: 41.666666666667%;
}
.push-5 {
  left: 41.666666666667%;
}
.pull-5 {
  right: 41.666666666667%;
}
.col-4 {
  width: 33.333333333333%;
}
.offset-4 {
  margin-left: 33.333333333333%;
}
.push-4 {
  left: 33.333333333333%;
}
.pull-4 {
  right: 33.333333333333%;
}
.col-3 {
  width: 25%;
}
.offset-3 {
  margin-left: 25%;
}
.push-3 {
  left: 25%;
}
.pull-3 {
  right: 25%;
}
.col-2 {
  width: 16.666666666667%;
}
.offset-2 {
  margin-left: 16.666666666667%;
}
.push-2 {
  left: 16.666666666667%;
}
.pull-2 {
  right: 16.666666666667%;
}
.col-1 {
  width: 8.3333333333333%;
}
.offset-1 {
  margin-left: 8.3333333333333%;
}
.push-1 {
  left: 8.3333333333333%;
}
.pull-1 {
  right: 8.3333333333333%;
}
@media (max-width: 992px) {
  .col-lg-12 {
    width: 100%;
  }
  .offset-lg-12 {
    margin-left: 100%;
  }
  .push-lg-12 {
    left: 100%;
  }
  .pull-lg-12 {
    right: 100%;
  }
  .col-lg-11 {
    width: 91.666666666667%;
  }
  .offset-lg-11 {
    margin-left: 91.666666666667%;
  }
  .push-lg-11 {
    left: 91.666666666667%;
  }
  .pull-lg-11 {
    right: 91.666666666667%;
  }
  .col-lg-10 {
    width: 83.333333333333%;
  }
  .offset-lg-10 {
    margin-left: 83.333333333333%;
  }
  .push-lg-10 {
    left: 83.333333333333%;
  }
  .pull-lg-10 {
    right: 83.333333333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .push-lg-9 {
    left: 75%;
  }
  .pull-lg-9 {
    right: 75%;
  }
  .col-lg-8 {
    width: 66.666666666667%;
  }
  .offset-lg-8 {
    margin-left: 66.666666666667%;
  }
  .push-lg-8 {
    left: 66.666666666667%;
  }
  .pull-lg-8 {
    right: 66.666666666667%;
  }
  .col-lg-7 {
    width: 58.333333333333%;
  }
  .offset-lg-7 {
    margin-left: 58.333333333333%;
  }
  .push-lg-7 {
    left: 58.333333333333%;
  }
  .pull-lg-7 {
    right: 58.333333333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .push-lg-6 {
    left: 50%;
  }
  .pull-lg-6 {
    right: 50%;
  }
  .col-lg-5 {
    width: 41.666666666667%;
  }
  .offset-lg-5 {
    margin-left: 41.666666666667%;
  }
  .push-lg-5 {
    left: 41.666666666667%;
  }
  .pull-lg-5 {
    right: 41.666666666667%;
  }
  .col-lg-4 {
    width: 33.333333333333%;
  }
  .offset-lg-4 {
    margin-left: 33.333333333333%;
  }
  .push-lg-4 {
    left: 33.333333333333%;
  }
  .pull-lg-4 {
    right: 33.333333333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .push-lg-3 {
    left: 25%;
  }
  .pull-lg-3 {
    right: 25%;
  }
  .col-lg-2 {
    width: 16.666666666667%;
  }
  .offset-lg-2 {
    margin-left: 16.666666666667%;
  }
  .push-lg-2 {
    left: 16.666666666667%;
  }
  .pull-lg-2 {
    right: 16.666666666667%;
  }
  .col-lg-1 {
    width: 8.3333333333333%;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333333%;
  }
  .push-lg-1 {
    left: 8.3333333333333%;
  }
  .pull-lg-1 {
    right: 8.3333333333333%;
  }
  .centered-lg {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .col-md-12 {
    width: 100%;
  }
  .offset-md-12 {
    margin-left: 100%;
  }
  .push-md-12 {
    left: 100%;
  }
  .pull-md-12 {
    right: 100%;
  }
  .col-md-11 {
    width: 91.666666666667%;
  }
  .offset-md-11 {
    margin-left: 91.666666666667%;
  }
  .push-md-11 {
    left: 91.666666666667%;
  }
  .pull-md-11 {
    right: 91.666666666667%;
  }
  .col-md-10 {
    width: 83.333333333333%;
  }
  .offset-md-10 {
    margin-left: 83.333333333333%;
  }
  .push-md-10 {
    left: 83.333333333333%;
  }
  .pull-md-10 {
    right: 83.333333333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .push-md-9 {
    left: 75%;
  }
  .pull-md-9 {
    right: 75%;
  }
  .col-md-8 {
    width: 66.666666666667%;
  }
  .offset-md-8 {
    margin-left: 66.666666666667%;
  }
  .push-md-8 {
    left: 66.666666666667%;
  }
  .pull-md-8 {
    right: 66.666666666667%;
  }
  .col-md-7 {
    width: 58.333333333333%;
  }
  .offset-md-7 {
    margin-left: 58.333333333333%;
  }
  .push-md-7 {
    left: 58.333333333333%;
  }
  .pull-md-7 {
    right: 58.333333333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .push-md-6 {
    left: 50%;
  }
  .pull-md-6 {
    right: 50%;
  }
  .col-md-5 {
    width: 41.666666666667%;
  }
  .offset-md-5 {
    margin-left: 41.666666666667%;
  }
  .push-md-5 {
    left: 41.666666666667%;
  }
  .pull-md-5 {
    right: 41.666666666667%;
  }
  .col-md-4 {
    width: 33.333333333333%;
  }
  .offset-md-4 {
    margin-left: 33.333333333333%;
  }
  .push-md-4 {
    left: 33.333333333333%;
  }
  .pull-md-4 {
    right: 33.333333333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .push-md-3 {
    left: 25%;
  }
  .pull-md-3 {
    right: 25%;
  }
  .col-md-2 {
    width: 16.666666666667%;
  }
  .offset-md-2 {
    margin-left: 16.666666666667%;
  }
  .push-md-2 {
    left: 16.666666666667%;
  }
  .pull-md-2 {
    right: 16.666666666667%;
  }
  .col-md-1 {
    width: 8.3333333333333%;
  }
  .offset-md-1 {
    margin-left: 8.3333333333333%;
  }
  .push-md-1 {
    left: 8.3333333333333%;
  }
  .pull-md-1 {
    right: 8.3333333333333%;
  }
  .centered-md {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 480px) {
  .col-sm-12 {
    width: 100%;
  }
  .offset-md-12 {
    margin-left: 100%;
  }
  .push-md-12 {
    left: 100%;
  }
  .pull-md-12 {
    right: 100%;
  }
  .col-sm-11 {
    width: 91.666666666667%;
  }
  .offset-md-11 {
    margin-left: 91.666666666667%;
  }
  .push-md-11 {
    left: 91.666666666667%;
  }
  .pull-md-11 {
    right: 91.666666666667%;
  }
  .col-sm-10 {
    width: 83.333333333333%;
  }
  .offset-md-10 {
    margin-left: 83.333333333333%;
  }
  .push-md-10 {
    left: 83.333333333333%;
  }
  .pull-md-10 {
    right: 83.333333333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .push-md-9 {
    left: 75%;
  }
  .pull-md-9 {
    right: 75%;
  }
  .col-sm-8 {
    width: 66.666666666667%;
  }
  .offset-md-8 {
    margin-left: 66.666666666667%;
  }
  .push-md-8 {
    left: 66.666666666667%;
  }
  .pull-md-8 {
    right: 66.666666666667%;
  }
  .col-sm-7 {
    width: 58.333333333333%;
  }
  .offset-md-7 {
    margin-left: 58.333333333333%;
  }
  .push-md-7 {
    left: 58.333333333333%;
  }
  .pull-md-7 {
    right: 58.333333333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .push-md-6 {
    left: 50%;
  }
  .pull-md-6 {
    right: 50%;
  }
  .col-sm-5 {
    width: 41.666666666667%;
  }
  .offset-md-5 {
    margin-left: 41.666666666667%;
  }
  .push-md-5 {
    left: 41.666666666667%;
  }
  .pull-md-5 {
    right: 41.666666666667%;
  }
  .col-sm-4 {
    width: 33.333333333333%;
  }
  .offset-md-4 {
    margin-left: 33.333333333333%;
  }
  .push-md-4 {
    left: 33.333333333333%;
  }
  .pull-md-4 {
    right: 33.333333333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .push-md-3 {
    left: 25%;
  }
  .pull-md-3 {
    right: 25%;
  }
  .col-sm-2 {
    width: 16.666666666667%;
  }
  .offset-md-2 {
    margin-left: 16.666666666667%;
  }
  .push-md-2 {
    left: 16.666666666667%;
  }
  .pull-md-2 {
    right: 16.666666666667%;
  }
  .col-sm-1 {
    width: 8.3333333333333%;
  }
  .offset-md-1 {
    margin-left: 8.3333333333333%;
  }
  .push-md-1 {
    left: 8.3333333333333%;
  }
  .pull-md-1 {
    right: 8.3333333333333%;
  }
  .centered-sm {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
  }
}
.top-zone {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #EAFFF7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 3;
  overflow: hidden;
}
.left-zone {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #FAEDFC;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  z-index: 2;
}
.right-zone {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #F5FBE3;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 250px;
  z-index: 2;
}
.middle-zone {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #FBF2EC;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bottom-zone {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #EDFAF5;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  z-index: 3;
  overflow: hidden;
}
.pushed-left-zone {
  padding-left: 300px;
}
.pushed-right-zone {
  padding-right: 250px;
}
.pushed-top-zone {
  padding-top: 70px;
}
.pushed-bottom-zone {
  padding-bottom: 30px;
}
#map {
  width: 100%;
  height: 100%;
}
#list {
  height: 100%;
  overflow: auto;
}
@media (max-width: 992px) {
  .top-zone {
    height: 30px;
  }
  .bottom-zone {
    height: 0px;
  }
  .pushed-top-zone {
    padding-top: 30px;
  }
  .pushed-bottom-zone {
    padding-bottom: 0px;
  }
}
@media (max-width: 768px) {
  .top-zone {
    height: 30px;
  }
  .bottom-zone {
    height: 0px;
  }
  .pushed-top-zone {
    padding-top: 30px;
  }
  .pushed-bottom-zone {
    padding-bottom: 0px;
  }
  .list-parent {
    width: 100%;
  }
  .map-parent {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 480px) {
  .top-zone {
    height: 30px;
  }
  .bottom-zone {
    height: 0px;
  }
  .pushed-top-zone {
    padding-top: 30px;
  }
  .pushed-bottom-zone {
    padding-bottom: 0px;
  }
}
